:root {
  --color-primary: #43feff;
  --color-secondary: #e3e2dd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--color-secondary);
}

header {
  img {
    width: 60px;
    height: 60px;
  }
  h1 {
    width: 60px;
    height: 60px;
  }
}
