:root {
  --color-primary: #43feff;
  --color-secondary: #e3e2dd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--color-secondary);
}

header {
  img {
    width: 60px;
    height: 60px;
  }
}

#carruselArte {
  height: 350px;
  .carousel-inner {
    height: 100%;
    .carousel-item:nth-child(1) img {
      object-position: top;
      @media (width >= 992px) {
        object-position: 50% 20%;
      }
    }
    .carousel-item:nth-child(2) img {
      object-position: center;
      @media (width >= 992px) {
        object-position: 50% 40%;
      }
    }
    .carousel-item:nth-child(3) img {
      object-position: top;
      @media (width >= 992px) {
        object-position: 50% 10%;
      }
    }
    .carousel-item {
      height: 100%;
      width: 100%;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* object-position: top; */
      }
      h2 {
        position: absolute;
        width: 200px;
        background-color: black;
        bottom: 0;
        left: calc(50% - 100px);
      }
    }
  }
}

/* /////////// */
/* PRODUC LIST */
/* /////////// */
#productList_container {
  .card {
    img {
      width: 100%;
      height: 350px;
      object-fit: cover;
      object-position: top;
      padding: 1rem 1rem 0 1rem;
    }
    .card-body {
      display: flex;
      flex-direction: column;
      .buttons-container {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
        .btn {
          background-color: var(--color-primary);
          color: black;
          border-color: var(--color-primary);
        }
        .heart {
          position: relative;
          width: 40px;
          height: 40px;
          cursor: pointer;
          justify-self: end;
          .empty-heart {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
            padding: 0;
          }
          .full-heart {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
            padding: 0;
          }
        }
      }
    }
  }
}

/* //////////// */
/* ///WE ARE/// */
/* //////////// */
#profile {
  gap: 2rem;
}

.card_profile {
  height: fit-content;
  transition: all ease 0.125s;
  &:hover {
    transform: scale(1.2);
  }
  img {
    height: 350px;
    filter: grayscale(100%);
    &:hover {
      filter: grayscale(0%);
    }
  }
}
